.container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 1px 5px #00000066;
    padding: 0 300px;

    .navWrapper {
        display: flex;
        align-items: center;
        gap: 50px;
    }

    .githubLink {
        cursor: pointer;
    }
}
