.containerEp {
    width: 300px;
    height: 200px;
    box-shadow: 0 0 10px rgba(63, 63, 63, 0.16);
    background-color: #04B3D4;
    border: 5px solid #DBF4AD;
    color: #DBF4AD;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: transform .3s ease-in-out;

    &:hover {
        transform: scale(1.02);
    }
}
