.title {
  font-size: 27px;
  font-weight: 700;
  color: #04B3D4;

  padding: 20px 20px 10px 20px;
}

.aboutMult {
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 0 20px 20px 30px;

  .ytVideo {


  }

  .title2 {
    font-size: 27px;
    font-weight: 700;
    color: #04B3D4;

    padding: 20px 20px 10px 20px;
  }
}
