.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;

  width: 100%;
  background: rgb(4,179,212);
  background: linear-gradient(90deg, rgba(4,179,212,1) 0%, rgba(219,244,173,1) 50%, rgba(55,183,130,1) 100%);
  color: #333;
  padding: 28px 400px;
  h1 {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    &:visited {
      color: #222d34;
    }
  }

  .social {
    font-size: 20px;
    display: flex;
    gap: 15px;
  }
}
