.videoCont {
    margin: 15px 0 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ytVideo {
    border: 5px solid #37B782FF;
    padding: 15px;
    aspect-ratio: 16/9;
    width: 840px;
    @media (max-width: 1024px) {
        width: 100%;
    }

    @media  (max-width: 425px) {
        padding: 0;
    }
}
