.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3f3f3;
    padding: 0 30px;

    .title {
        text-align: center;
        font-weight: 700;
        font-size: 30px;
        color: #00B2CB;
        margin: 15px 0;
    }
}
