.result {
    text-align: center;

    button {
        font-weight: bold;
        font-family: 'Nunito', sans-serif;
        border-radius: 30px;
        border: 0;
        padding: 15px 30px;
        font-size: 30px;
        background-color: darken(#ff006e, 3%);
        color: #fff;
        margin-top: 20px;
        cursor: pointer;
    }

    h2 {
        margin-bottom: 0;
    }

    img {
        width: 150px;
    }
}


.image {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    img {
        border: 3px solid #04B3D4;
        padding: 5px;
        object-fit: cover;
        background-position: center;
        width: 320px;
        height: 220px;
    }
}
